<div class="row my-5">
    <div class="col-md-8 mx-auto">
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>{{message}}</strong>
        </div>
        {{/each}}
        {{/if}}
        <div class=" container-box">
            <div class="card form-box">
                <form action="/login" method="post">
                    <h3 class="text-center">Login To Your Account</h3>
                    <hr>
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Your Email Address" />
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Your Password" />
                    <input type="submit" class="btn btn-outline-success" value="Login" />
                    <a href="/register" class="btn btn2 btn-outline-secondary">Register Here</a>
                </form>

            </div>
        </div>
    </div>
</div>