<div class="row mb-5">
    <div class="col-md-8 mx-auto ">
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>{{message}}</strong>
        </div>
        {{/each}}
        {{/if}}
        <div class=" container-box">
            <div class="card form-box">
                <form action="/register" method="POST">
                    <h3 class="text-center">Register An Account</h3>
                    <hr>
                    <label>Name</label>
                    <input type="text" class="form-control" name="fullname" placeholder="Your Name" />
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Your Email Address" />
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Your Password" />
                    <input type="submit" class="btn btn-outline-success" value="Register" />
                </form>

            </div>
        </div>
    </div>
</div>