<div class="row">
    <div class="col-md-8 ml-3">
        <h1 class="mb-3">Welcome, {{ user.fullname }}</h1>
        <h3>Ypu have been referred to : {{ user }}</h3>
        <h3>Your Referral ID : {{ loggedUser.referralId }}</h3>
        <h3>Referral Link : {{ loggedUser.referralLink }}</h3>
    </div>

</div>