{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark">
    <!-- Navigation-->
    {{> admin/admin-topNav}}

    <div class="">

        {{> admin/messages}}

        {{{body}}}

        {{> admin/admin-footer}}
    </div>
</body>

</html>