{{> default/header }}

<body>

    <!-- Navigation -->
    {{> default/top-navigation }}

    <!-- Page Content -->
    <div class="container mt-5">
        {{> default/messages}}

        {{{ body }}}

    </div>
    <!-- /.container -->
    {{> default/footer }}