{{> user/user-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
{{> user/user-topNav}}



<div class="content-wrapper">
   
    {{> user/messages}}
    
    
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    
    
    
{{> user/user-footer}}    
</div>
</body>

</html>
