<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Built With <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i> By
            Bankole
            Ahmed</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').slideUp(2000);
        }, 2000);
    });
</script>
</body>

</html>