<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;Referral System 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/jquery-3.2.1.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').slideUp(1000);
        }, 1000);
    });
</script>
</body>

</html>