
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="/js/vendor/jquery.easing.1.3.js"></script>
    <script src="/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/vendor/jquery.appear.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery-modal-video.min.js"></script>
    <script src="/js/stellarnav.min.js"></script>
    <script src="/js/placeholdem.min.js"></script>
    <script src="/js/contact-form.js"></script>
    <script src="/js/jquery.ajaxchimp.js"></script>
    <script src="/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    {{!-- <script src="/js/main.js"></script> --}}

<script>
    $(document).ready(function () {
       setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000);
    });
</script>
</body>

</html>
