<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Referral - Dashboard </title>
    <!-- Bootstrap core CSS-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <!-- CSS Files -->
    <link rel="stylesheet" href=".css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/adminstyles.css">
</head>